{% extends 'layouts/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<ul>
			{% for message in app.session.flashbag.get('success') %}
				<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{{ form(form) }}
    </div>
{% endblock %}
