{% extends 'layouts/base.html.twig' %}
{% block title %}Contacto{% endblock %}
{% block body %}
    <br>
        {% for message in app.session.flashbag.get('success') %}
			<li>{{ message }}</li>
		{% endfor %}
        <br>
    {{ form(form) }}
{% endblock %}