{% extends 'layouts/base.html.twig' %}

{% block title %}Post Create
{% endblock %}

{% block body %}
	<ul>
		{% for message in app.session.flashbag.get('success') %}
			<li>{{ message }}</li>
		{% endfor %}

		{% for message in app.session.flashbag.get('danger') %}
			<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{{ form(form) }}
{% endblock %}
