{% extends 'layouts/base.html.twig' %}

{% block title %}Hello PostController!
{% endblock %}

{% block body %}
	<br>
    <a href="{{ path('create-post') }}" class="btn btn-success btn-block">Registrar</a>
    <hr>

	<ul class="list-group">
		{% for post in posts %}
			<li class="list-group-item">
				<a href="{{ path('show-post', {id : post.id}) }}">{{ post.title }}</a>
			</li>
		{% endfor %}
	</ul>

    <br>

	{# display navigation #}
	<div class="navigation">
		{{ knp_pagination_render(posts) }}
	</div>
{% endblock %}
